/*las #id no se pueden repetir*/

body{
    /*siempre es bueno poner el margin 0 al principio para quitar los amrgenes que vienen por defecto que nos ocupan lugar al dope*/
    margin: 0;
    font-family: 'Bellota', cursive;
    font-size: 24px;
  
}

header .contenedor{
/*los estilos van por niveles. me va a plicar estilo al contenedor que este en el header*/
    display: flex;
    /*este va sobre el elemento PADRE. por eso va sobre el contenedor.*/
    justify-content: space-between;
    /*justificame el contenido a los espacios. tambein podria poner center, o flex-start para qe vaya a la izquierda*/

}


/*debo llamar a la etiqueta padre para ordenar los elementos de la lista. le tengo que poner clase al ul, el display flex lo que hizo fue poner un item al aldo del otro en vez de uno arriba del otro.*/


.lista-menu {
    color: rgb(255, 255, 255);
    font-size: 18px;
}

header ul {
    display: flex;
    color: white;
    text-decoration: solid;  
}


/*sacar puntitos de la lista*/

header ul li {
    list-style: none;
    margin: 15px;
}

/*sacar subrayados. le saco el header para que aplique a todos los elementos a de la página*/
a {
    text-decoration: none;
}

.contenedor {
    max-width: 1280px;
    width: 90%;
    margin: auto;
}

#contenedor-titulo-flex{
/*como es un solo div queda bien pero si fueran 2 div o una lista de ul quedarian simplemente uno al lado del otro*/
    display: flex;
    justify-content: center;

    /*viewport height es el alto de la ventana. le digo q me baje el 18% de la ventana.
    y el 0? los amrgenes van en sentido del reloj: top right bottom left.
    lo que hice es igual a :
    margin-top: 18vh;
    margin-right: 0px;
    margin-bottom: 18vh;
    margin-left: 0px;*/
        margin: 8vh 0;
        max-width: 1500px;
        width: 100%;
}

header {
    /*el linear-gradient es genial para sobreponer colores con transparencia a la imagen. yo no lo voy a usar por ahora. 
    
        background: linear-gradient(rgba(52,183,191, .9), rgba(95,175,180, .9)), url(imagenes/fondo.jpg);
    */
    background-color: rgb(255, 123, 0);

    /*esto significa 100% el alto de la pantalla. esto es muy importante para qu funcione bien en moviles*/
    height: 100vh;
    
    /*esto adapta el tamaño al ancho de mi pantalla. es genial*/
    background-size: cover;
  

}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 150px;
    color: #FFF;
    text-align: center;
    margin: 0px;
    /* Para bordes: -webkit-text-stroke: 0.01px black;*/
    -webkit-text-stroke: 5px black;
    
    
    
}

h2 {
    
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    color: royalblue;
    text-align: center;
    
    
}

.contenedor-titulo {
    text-align: center;
}


/*-------------------AQUIII BOTONES!!!---------------------*/
/*aca agrego todos los botones para que tengan el mismo estilo, desps si quiero modificar uno lo modifico aparte*/
.contenedor-titulo a, #sobre-mi a, #blog a, #que-esperas a, #contacto input[type="submit"] {

    font-size: 14px;
    color: #fff;
    background: rgb(10, 8, 7);
    
    border: solid orange 5px;
    padding: 14px 24px;
    /*el padding es iguial que el margin. top right bottom left. por eso puse 2 ejes y me lo acomodo*/
    text-align: center;
    width: 128px;
    border-radius: 6px;

    /*hay elementos en linea y elementos de bloque. el elemento A es de LINEA. por eso no se alinea simplemente con un text-align. por eso le tengo que pponer inline-block. para alinear al centro le pongo la prop al contenedor-titulo*/
    display: inline-block;
   
}

p.logo {

    color: #FFF;
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
    
}

/*.........................SECCION DE "SOBRE MI"..................*/

h3 {

    text-align: center;
    font-size: 55px;
    font-weight: bold;
    /*margin-top: 100px;    */
}



#sobre-mi .contenedor-sobremi {

    display: flex;
    justify-content: space-around;
}

#sobre-mi .texto {
    
    width: 42%;
    text-align: justify;
}


/*.........................SECCION DE "SERVICIOS"..................*/

    #servicios img {
        width: 100%;
    }

    #servicios h3 {
        font-size: 32px;
    }

/*.........................SECCION MIS TRABAJOS.....................*/

button.owl-prev, button.owl-next {

    font-size: 40px !important;
    }

span {
    /*SPAN es una etiqueta HTML q no tienen ningun significado semantico, es solamente para poner un elemento en una etiqueta y darle estilos*/
    color: #48acfa;
}

.item p {

    text-align: center;
}

/*.........................POR QUE TRABAJAR CONMIGO?.............................*/

.contenedor-trabajar {

    display: flex;
    /*el wrap era x si los elementos ocupan mucho lugar pasan a la otra línea*/
    flex-wrap: wrap;
    justify-content: space-around;
    
}

#por-que-trabajar .item {

    width: 28%;
    text-align: center;
    

}

#por-que-trabajar ul {
    list-style: none;
}

/*aqui llamo al elemento hijo n°2. li es hijo de ul. el 1 seria la imagen . el 2 velocidad. y el 3 el parrafo. tmb puedo usar first-child o last-child*/
#por-que-trabajar ul li:nth-child(2){

    font-weight: bold;
    font-size: 19px;
    margin-top: 5px;
    margin-bottom: 20px;
}

#por-que-trabajar ul li:nth-child(3){

    line-height: 31px;
}

/*.........................SAECCION BLOG.............................*/


#blog .contenedor-publicaciones {

    display: flex;
    justify-content: space-around;
}

#blog .publicacion{

    width: 30%;
    /*recordar que la sombre la puedo generar en la pag*/
    box-shadow: 1px 1px 14px rgb(221, 70, 0);
}

#blog img {
    width: 100%;
}

#blog .contenido {
    background: #FFF;
    padding: 20px;
}

#blog h4 {
    font-size: 24px;
    margin-bottom: 15px;
    margin: 0;
}

#blog p {
    color: #5A6169;
    line-height: 24px;
    font-size: 16px;
}

#blog a {
    width: 87px;
}

/*...............................SECCION QUE ESPERAS....................................*/

#que-esperas{
    background: linear-gradient(#0D0D0D, rgb(255, 60, 0));
    text-align: center;
    /*aqui le pongo 50px de espacio arriba y abajo. 0 a los costados*/
    padding: 50px 0;
    margin-top: 40px;
    }

    
#que-esperas h4{
    font-size: 23px;
    color: #FFF;
    /*para darle estilo al boton vuelvo al que configure mas arriba e incluyo este nuevo ;)*/
}

/*...................................SECCION CONTACTO.....................................*/

 #contacto form {

    display: flex;
    /*uno al lado del otro*/
    justify-content: space-between;
    flex-wrap: wrap;
    width: 77%;
    /*como centrarlo??? margin: auto*/
    margin: auto;
 }

 input[type="text"], input[type="email"] {
     width: 49%;
     margin-bottom: 15px;
     padding: 18px 0;
     border: 0;
     border-bottom: 2px solid #5cb8ff;
     font-size: 17px;
 } 

 textarea {
     padding: 18px;
     border: 0;
     border-bottom: 2px solid #5cb8ff;
     font-size: 17px;
     margin-bottom: 40px;
     width: 100%;
 }

 /*EL BOTON LO AGREGO EN LA PARTE DE BOTONES*/

 #contacto input[type="submit"] {
     width: 166px;
     margin: auto;

 }

  .contacto-info {

    display: flex;
    justify-content: space-around;
    margin-top: 60px;

  }

  .contacto-info img {
    width: 28px;
    /*el vertical align me alinea la foto con el texto apra que no queda cada unoa rriba del otro o desalineado*/
    vertical-align: middle;
    /*con margin-right: separo la imagen del texto;*/
    margin-right: 10px;
  }




   /*.........................FOOTER..................*/


   footer {

    background: #e64900;
    padding: 40px 0;
    text-align: center;
    margin-top: 40px;
   }

   footer .contenedor {

    display: flex;
    justify-content: center;
    /*este por defecto vienen en raw, por eso se pone uno al lado del otro. si lo pongo en columna pone uno abajo del otro*/
    flex-direction: column;
   }

   footer img {
    margin: 0 40px;
    transform: rotate(0);
    /*en la rotacion necesito definir primero el grado por defecto, luego en el :hover cuanto quiero que rote, y luego la transition que es el tiempo en el defect y en el hover. deg es grados en ingles*/
    transition: 0.4s;

   }

   footer img:hover {
    transform: rotate(360deg);
    transition: 0.4s;

   }

   footer p {
       color: #fff;
       margin-top: 40px;
   }

   /*.....................WHATSAPP.............................*/

   #whatsapp {

    position: fixed;
    top: 80%;
    right: 1%;
    z-index: 200;

   }

   /*..............estilo htm................*/

   html {
       /*este es la animaciopn de cndo hago scroll por el documento*/
       scroll-behavior: smooth;
   }

   /*dando padding a las secciones para que cuando cliqueo en el link se vea el titulo y no se tape*/

   #sobre-mi, #servicios, #mis-trabajos, #por-que-trabajar, #blog, #contacto {

    padding: 70px 0;
   }


   /*.............................IMPORTANTISIMA PARTE DEL RESPONSIVE DESIGN..........................*/

   
   
   
   .menu-icon {
       /*display none sirve para eliminar un elemento de la pantalla*/
    display: none;

   }


   /*en el medio que se va a ver esta pag sera con un ancho maximo de 800 px (suficiente para tablets como para fonos) si es solo para celus le ponemos 480px. */
  
  
  
   @media (max-width: 800px) {

   

    .menu-icon {
        /*es lo contrario al display none*/
        display: block;
        /*primero no flotara porque esta el menu estorbando*/
        float: right;
        width: 40x;
        height: 40px;
        padding: 20px 20px;
    }

    .logo {
        font-size: 25px;
    }
   
    header nav {
        position: absolute;
        top: 83px;
        left: 0;
        height: 420px;
        background: #ff9100;
        width: 100%;
        display: none;
    }

    header nav ul {
        flex-direction: column;
    }

    header nav ul li {

        margin-bottom: 15px;
    }

    header h1 {
            font-size: 102px;
            margin-top: 50px;
            padding-bottom: 75px;
            -webkit-text-stroke: 5px black;
    }
    

    h2 {
        font-size: 24px;
        color: white;
    }

    h3 {
        font-size: 45px;
    }

    .contenedor-titulo {
        margin: -6vh 0;        
    }

    .contenedor-titulo h2 {
        font-size: 30px;
    }

    #sobre-mi .contenedor-sobremi {
        
        flex-direction: column;
        
    }

    #sobre-mi img {
        width: 100%;
        height: 250px;
    }

    #sobre-mi .texto {
        width: 98%;
        text-align: center;
    }

    .contenedor-servicios {
        flex-direction: column;
    }

    #servicios .servicio {

        width: 81%;
        padding-bottom: 60px;
    }

    #servicios .ondas {
        width: 100%;
    }

    #servicios .icono {
        margin-top: 20px;
    }

    .servicio p {
        
        margin-top: 32px;
    }

    .contenedor-trabajar {

        flex-direction: column;
    }

    #por-que-trabajar .item {
        width: 100%;
        }

    .item ul {
        padding: 0;
    }

    #blog .contenedor-publicaciones {
        flex-direction: column;

    }

    #blog .publicacion {
        width: 100%;
        margin-bottom: 40px;
    }

    #contacto form {
        flex-direction: column;
        width: 86%;
    }

    input[type="text"], input[type="email"] {
        width: 84%;
        
    }

    footer img {
        margin: 24px;
    }

    .lista-menu li a {
        color: white;
    }

    .contacto-info {
        flex-direction: column;
    }

    #whatsapp img {

        width: 53px;
        height: 53px;
    }
/*
    .contenedor-titulo h1 {
        -webkit-text-stroke: 0.01cm white;
        color: rgb(0, 65, 161);

    }*/

  }

/*AHORA LO VAMOS A CONFIGURAR PARA IPAD Y TABLETS*/
/*al ponerle un miniom me aseguro que no va a ser un celular*/

@media (max-width: 330px) {

    

    header h1 {
        font-size: 85px;
        margin-bottom: 25px;
        padding-bottom: 45px;
        -webkit-text-stroke: 3px black;
    }

    .contenedor-titulo h2 {

        font-size: 25px;
    }

    #whatsapp img {

        width: 30px;
        height: 30px;
    }

    #sobre-mi img {

        height: 250px;
    }







}
  
@media (min-width: 600px) and (max-width: 800px) {

    header {
        height: 70vh;
    }

    header h1 {
        margin-bottom: 213px;
        font-size: 90px;
    }

    .contenedor-servicios {

        width: 500px;
        /*margin auto para centrarlo*/
        margin: auto;
    }

    .contenedor-publicaciones {

        width: 70%;
        margin: auto;
    }



  }